@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');



body {
    $one-0: calc((100% - var(--content_width))/2);
    $one-1: calc(((100% - var(--content_width))/2) + 1px);
    $two-0: calc(39.58%);
    $two-1: calc((39.58%) - 1px);
    $third-0: calc(60.41%);
    $third-1: calc((60.41%) - 1px);
    $fourth-0: calc(100% - (100% - var(--content_width))/2);
    $fourth-1: calc((100% - (100% - var(--content_width))/2) - 1px);

    $line-color: #E6E6E6;

    min-height: 100vh;
    background-image:
        linear-gradient(90deg, transparent, transparent $one-0, $line-color $one-1, transparent $one-1),
        linear-gradient(90deg, transparent, transparent $two-1, $line-color $two-0, transparent $two-0),
        linear-gradient(90deg, transparent, transparent $third-1, $line-color $third-0, transparent $third-0),
        linear-gradient(90deg, transparent, transparent $fourth-1, $line-color $fourth-0, transparent $fourth-0);
    transform: translate3d(0, 0, 0);
}

.big-logo {
    height: 70.19vh;
    width: var(--content_width);
    margin: 0 auto;

    border-radius: 70px;
    background-size: cover;
    background-positions: center;

    display: flex;
    align-items: center;

    &__content {
        margin: 2px 2px 2px 4.33vw;
        max-width: 36.14%;
    }
}

.projects {
    width: var(--content_width);
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;

    &__info {
        max-width: 38.39vw;
        text-align: center;

        p {
            margin-bottom: 93px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 56px 8.24%;

        margin-bottom: 96px;

        article {
            position: relative;
        }

        img {
            width: 100%;
        }

        button {
            all: unset;
            width: 70px;
            height: 70px;

            position: absolute;
            right: 0px;
            bottom: 0px;
        }

        h2 {
            margin-bottom: 4px;
        }
    }
}

.counter {
    width: var(--content_width);
    margin: 0 auto;
    height: 42.31vh;

    display: flex;
    align-items: center;

    margin-bottom: 96px;

    &::before {
        background: #F4F0EC;
        left: 0px;
        position: absolute;
        width: 100%;
        height: inherit;
        content: "";
        display: inline-block;
        z-index: -1;
    }

    &__item {
        border-style: none solid none none;
        border-color: #CDA274;
        text-align: center;

        width: 25%;
        height: fit-content;

        div {
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 400;
            font-size: 85px;
            line-height: 125%;
            letter-spacing: 0.02em;
            color: #CDA274;
        }

        &:last-of-type {
            border: none;
        }
    }

}

.blog {
    width: var(--content_width);
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    margin-bottom: calc(96px - 20px);

    h1 {
        margin-bottom: 12px;
        margin-top: 0px;
    }

    p {
        width: 67.53%;
        margin-bottom: 52px;
    }

    &__list {
        display: flex;
        gap: 27px;
        flex: 1;
    }

    &__article {
        width: 100%;
        padding: 21px;
        text-align: left;

        position: relative;

        h2 {
            margin-bottom: 39.5px;
        }

        .article__img-container {
            position: relative;
        }

        img {
            width: 100%;
        }

        button {
            all: unset;
            width: 70px;
            height: 70px;

            position: absolute;
            right: 0px;
            bottom: 0px;
        }

        .tag {

            width: 129px;
            height: 41px;
            left: 5.88%;
            bottom: 5.88%;
            text-align: center;
            cursor: pointer;
        }
    }
}

footer {
    width: var(--content_width);
    margin: 0 auto;

    display: flex;
    padding-bottom: 134px;

    & * {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .footer {
        &__site-logo {
            display: flex;
            gap: 10px;
            margin-bottom: 18px;

            img {
                width: 2.0em;
            }
        }

        &__info {
            width: 32.72%;
            margin-right: 8.41%;

            &>p {
                margin-bottom: 31px;
            }
        }

        &__links {
            display: flex;
            gap: 54px;
        }
    }

    nav {
        margin-right: 26.81%;

        h2 {
            margin-bottom: 1em;
        }

        ul {
            list-style: none;
            display: grid;
            gap: 1em;
            padding: 0;

            a {
                text-decoration: none;
            }
        }
    }

    address {
        display: flex;
        flex-direction: column;
        gap: 1.5em;

        p {
            margin-bottom: -0.32em;
        }

        a {
            all: unset;
            cursor: pointer;
        }
    }
}







//decor
.big-logo {

    &__content {
        h1 {
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 400;
            font-size: 65px;
            line-height: 125%;
            color: #292F36;
        }

        p {
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: #4D5053;
        }

        button {
            padding: 26px 49px 26px 48px;
            width: 220.14px;
            height: 75px;
            background: #292F36;
            box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
            border-radius: 18px;
            border: solid black;

            font-family: 'Jost';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 125%;
            color: #FFFFFF;

        }
    }
}

.projects {

    &__info {
        h2 {
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            line-height: 125%;
            letter-spacing: 0.02em;
            color: #292F36;
            opacity: 0.8;
        }

        p {
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: #4D5053;
        }

    }

    &__list {
        h2 {
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 125%;
            letter-spacing: 0.02em;
            color: #292F36;
        }


    }
}


.counter {
    &::before {}

    &__item {
        div {
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 400;
            font-size: 85px;
            line-height: 125%;
            letter-spacing: 0.02em;
            color: #CDA274;
        }

        p {
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: #4D5053;
        }
    }

}

.blog {

    h1 {
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 125%;
        letter-spacing: 0.02em;
        color: #292F36;
    }

    p {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #4D5053;
    }

    &__list {}

    &__article {

        h2 {
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 125%;
            letter-spacing: 0.02em;
            color: #292F36;
        }

        time {
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            align-items: center;
            letter-spacing: 0.01em;
            text-transform: capitalize;
            color: #4D5053;
        }

        img {}

        button {}

        .tag {
            background: #FFFFFF;
            border-radius: 8px 8px 8px 0px;

            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.01em;
            text-transform: capitalize;
            color: #4D5053;
        }
    }
}

footer {
    .footer {
        &__info {
            .footer__site-logo {
                p {
                    font-family: 'DM Serif Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 40px;
                    line-height: 125%;
                    color: #292F36;
                }
            }

            p {
                font-family: 'Jost';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 150%;
                letter-spacing: 0.01em;
                color: #4D5053;
            }

        }
    }
}

footer {
    width: var(--content_width);
    margin: 0 auto;

    display: flex;

    .footer {
        &__site-logo {}

        &__info {}

        &__links {}
    }

    nav {
        h2 {
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 125%;
            color: #292F36;
        }

        ul {
            a {
                font-family: 'Jost';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 300%;
                letter-spacing: 0.01em;
                color: #4D5053;
            }
        }
    }

    address {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #4D5053;

        p {
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 125%;
            color: #292F36;
        }
    }
}